.content {
    margin-left: 40px;
}

.main_text {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 10px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.message {
    font-size: 20px;
    color: #900;
    text-align: center;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #fff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 0px;
}

span.required:after { 
    content: " *"; 
    color: red; 
}

.date {
    text-align: right;
    color: #828282;
}

div {
    font-family: 'PT Sans', sans-serif;
}


.h1 a, .h1 a:visited {
    color: #000;
}

.h1 a:hover {
    color: #555;
    text-decoration: none;
}

.h1 a:active {
    color: #999;
}

.user {
    color: #059;
}
.description {
    font-size: 18px;
    padding-bottom: 10px;
    text-align: justify;
}

.cur_right {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.cur_left {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.cur_center {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.img-resize {
    max-width:100%;
    max-height:100%;
}

nav {
    font-family: 'PT Sans', sans-serif;
}

.navbar-form .input-group {
    display: table;
}
.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn {
    white-space: nowrap;
    width: 1%;
}
.navbar-form .input-group .form-control {
    width: 100%;
}