.content {
    margin-left: 40px;
}

.main_text {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 10px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 0px;
}

.date {
        float: right;
        color: #828282;
}

div {
        font-family: 'PT Sans', sans-serif;
}


.post h1 a, .post h1 a:visited {
    color: #000000;
}

nav {
    font-family: 'PT Sans', sans-serif;
}