{% extends 'auction/base.html' %}
{% block title_block %} 
    Balance 
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="cur_left">Your balance: {{bal}} tokens</div>
        </div>
        
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <form id="user_form" class="post-form" method="post" action"={% url 'balance' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_balance">Replenish tokens:</label>
                    <input type="number" name="balance" min="0" max="4000" class="form-control" placeholder="Enter the tokens"
                        required="" id="id_balance">
                </div>
                <input type="submit" class="btn btn-default" name="submit" value="Replenish"/>
            </form>
        </div>
    </div>
{% endblock %}