{% extends 'auction/base.html' %}

{% block title_block %} 
    Home
{% endblock %}

{% block content %}
    {% for lot in lots %}
        <div class="row">
            <div class="col-md-8">
                <div class="h1">
                    <a href="{% url 'lot_detail' pk=lot.pk %}">
                        {{ lot.title }}
                        {% if lot.is_open == False %}
                            [Sold]
                        {% endif%}
                    </a>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img class="img-thumbnail img-resize" src="{{ lot.image.url }}" alt="" />
            </div>
            <div class="col-md-10">
                <div class="description">{{ lot.text|linebreaksbr }}</div>
            </div>
        </div>
        <div class ="row">
            <div class="col-md-6 cur_left">
                {% if lot.is_open %}
                    Current price: {{lot.starting_price}} Tokens.
                {% endif %}
            </div>
            <div class="col-md-6 date">{{ lot.published_date }} by {{ lot.author }}</div>
        </div>
        <hr>
    {% endfor %}
{% endblock content %}