{% extends 'auction/base.html' %}

{% block title_block %} 
    Home
{% endblock %}

{% block content %}
    {% for lot in lots %}
        <div class="post">
            <div class="date">
                {{ lot.published_date }} by {{ lot.author }}
            </div>
            <div class="h1">
                <a href="{% url 'lot_detail' pk=lot.pk %}">
                    {{ lot.title }}
                    {% if lot.is_open == False %}
                        [Sold]
                    {% endif%}
                </a>
            </div>
            <div class="description">{{ lot.text|linebreaksbr }}</div>
            <div class="cur_left">
                {% if lot.is_open %}
                    Current price: {{lot.starting_price}} Tokens.
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock content %}