{% extends 'auction/base.html' %}

{% block title_block %} 
    {{ lot.title }}
{% endblock %}

{% block content %}
    <div class="post">
        {% if lot.published_date %}
            <div class="date">
                {{ lot.published_date}} by {{lot.author}}
            </div>
        {% endif %}
        
        <div class="h1">{{ lot.title }}
            {% if ed %}
                <a class="btn btn-default" href="{% url 'lot_edit' pk=lot.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'lot_remove' pk=lot.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        </div> 
        <div class="description">{{ lot.text|linebreaksbr }}</div>
        <div class="cur_price">
            Current price: {{lot.starting_price}} Tokens.
        </div>
        <hr>
    </div>
{% endblock %}