{% extends 'auction/base.html' %} 

{% block title_block %} 
    Edit Lot 
{% endblock %}

{% block content %}
    {% if ed %}
    <div class="h1">New lot</div>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %} 
        {% for field in form.visible_fields %}
            <div>
                {{ field.errors }}
                    <label for="{{ field.auto_id }}">
                        {% if field.field.required %}<span class="required">{{ field.label }}</span>
                        {% else %}{{ field.label }}{% endif %}
                    </label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    {% else %}
        <div class="message">Hey little pie, this is not your lot.</div>
    {% endif %}
{% endblock %}