{% extends 'auction/base.html' %}

{% block title_block %}
    {% if user_profile %}
        {{ selected_user.username }}
    {% else %}
        User not found
    {% endif %}
{% endblock %}

{% block content %}
     {% if user_profile %}
        <div class="h2">
            {{ selected_user.username }}'s profile
            {% if user == selected_user %}
                <a class="btn btn-default" href=""><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        </div>
        
        <hr>
        <div class="cur_left">First Name: {{ selected_user.first_name }}</div>
        <div class="cur_left">Last Name: {{ selected_user.last_name }}</div>
        <div class="cur_left">Email: {{ selected_user.email }}</div>
    {% else %}
        Ad not found
    {% endif %}
{% endblock %}